1Password
*.log
.DS_Store
.gsd-keyboard*
.repro
.tests
/github-copilot
/nvim/env.lua
BraveSoftware
Docker Desktop
Jackett
NuGet
Ryujinx
Slack
chromium
configstore
connections.db
data
db_ui
dconf
debug
discord
doc/tags
enchant
environment*
evolution
fish
fontconfig
geary
gh
gnome-initial*
gnome-session
goa-1.0
google-chrome
google-chrome-beta/*
google-chrome-unstable/*
graphite
gtk-*
gtk-2.0
htop
ibus
iterm2
kwalletrc
lazygit/*
matplotlib
mimeapps.list
monitors.xml*
nautilus
neofetch
nextjs-nodejs
nvim.bak*
nvim/pack/*
obsidian
op
planetscale
pulse
raycast
remmina
result
thefuck
tt.*
update-notifier
user-dirs*
zed
zsh
