.DS_Store
/github-copilot
/nvim/env.lua
BraveSoftware
NuGet
Ryujinx
chromium
configstore
db_ui
fish
gh
google-chrome
graphite
gtk-2.0
htop
iterm2
lazygit/*
nvim.bak*
nvim/pack/*
op
planetscale
raycast
thefuck
tmux/plugins/*
zed
Docker Desktop
Jackett
Slack
dconf
evolution
goa-1.0
gtk-*
ibus
matplotlib
nautilus
neofetch
nextjs-nodejs
obsidian
pulse
remmina
update-notifier
kwalletrc
mimeapps.list
monitors.xml*
user-dirs*
gnome-initial*
.gsd-keyboard*
